@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --font-dark: hsl(0, 0%, 12%);
    --dark: hsl(0, 0%, 12%);
    --grey: hsl(210, 60%, 98%);
    --yellow: hsl(42, 100%, 50%);
    --pink: hsl(323, 90%, 58%);
    --purple: hsl(256, 100%, 50%);
    --font-36: 36px;
}

/* General styles */
html, body {
    height: 100%;
}

body, input, button {
    font-family: Inter, sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: Poppins, sans-serif;
    line-height: 1;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: var(--font-36);
}

h3 {
    font-size: var(--font-36);
    font-weight: 700;
    margin-bottom: 10px;
}

p + p {
    margin-top: 10px;
}

input {
    accent-color: var(--purple);
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

hr {
    border: 1px solid hsl(212, 48%, 94%);
    margin-bottom: 20px;
}

/* Header styles */
.m-header {
    display: flex;
    padding: 10px 50px;
    margin-bottom: 20px;
    width: 100%;
}

.m-header > nav {
    margin: auto 0;
}

.m-header_logo {
    margin-right: auto;
}

.m-header_auth {
    display: flex;
    margin: auto 0 auto auto;
    gap: 20px;
}

.menu_nav {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 40px;
    font-size: 16px;
    list-style: none;
}

.menu_anchor {
    padding: 15px;
    font-weight: 500;
    color: var(--font-dark);
    transition: color 0.2s ease;
}

.menu_anchor:hover {
    color: var(--pink);
}

.menu_anchor:visited {
    color: none;
}


/* Main information section */
#main {
    display: flex;
    align-items: center;
    margin: 4.5em auto;
    gap: 20px;
}

.main_title {
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.main_title::before {
    content: attr(data-alt-title);
    position: absolute;
    z-index: -1;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    color: rgba(112, 0, 255, 0.15);
    left: 0%;
    right: 0%;
    top: -0.6em;
}

.main_subtitle {
    margin: 0 0 20px;
    line-height: 1.2;
}

/* Quote section */
.quote {
    background-color: hsl(248, 34%, 17%);
    color: white;
    padding: 8em 0;
}

.quote_c {
    max-width: 700px;
    margin: auto;
    position: relative;
}

.quote_title {
    text-align: center;
    margin-bottom: 20px;
}

.quote_text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.3;
}

.quote_author {
    font-size: 20px;
    font-weight: bold;
    color: var(--yellow);
}

.quote_icon-c {
    position: absolute;
    top: 50%;
    right: -80px;
}

.quote_icon-c::before {
    content: "";
    width: 110px;
    height: 110px;
    background-color: hsla(323, 90%, 58%, 0.22);
    position: absolute;
    transform: translateY(-50%) scale(1.5);
    border-radius: 100%;
    animation: circle-grow 10s infinite ease-in-out;
}

@keyframes circle-grow {
    0% {
        transform: translateY(-50%) scale(1.0);
    }

    10% {
        background-color: hsla(323, 90%, 58%, 0.22);
    }

    25%, 100% {
        transform: translateY(-50%) scale(1.5);
        background-color: hsla(323, 90%, 58%, 0);
    }
}

.quote_icon-c::after {
    content: "";
    width: 110px;
    height: 110px;
    background-color: var(--pink);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 100%;
}

.quote_icon {
    position: absolute;
    z-index: 1;
    transform: translateY(-50%) rotate(180deg);
    fill: white;
    left: 25px;
    animation: icon-spin 120s infinite ease-in-out;
}

@keyframes icon-spin {
    0% {
        transform: translateY(-50%) rotate(180deg);
    }

    0.42% {
        transform: translateY(-50%) rotate(165deg);
    }

    0.84% {
        transform: translateY(-50%) rotate(195deg);
    }

    1.67%, 100% {
        transform: translateY(-50%) rotate(-180deg);
    }
}

/* Process section */
.process {
    padding: 8em 0;
    background-color: hsl(210, 60%, 98%);
}

.process_subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3em;
}

.steps {
    display: flex;
    gap: 20px;
    position: relative;
}

.steps_item {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 7px;
}

.steps_item:not(:last-child)::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: var(--pink);
    position: absolute;
    top: 50%;
    right: -20px;
}

.steps_item > h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.steps_icon {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 72px;
    height: 72px;
    fill: var(--yellow);
}

.steps_counter {
    content: "";
    background-color: var(--pink);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 100%;
    width: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    left: -15px;
    height: 30px;
    padding: 17px;
}


/* INFORMATION PAGE */

/* Information section */
.tinfo {
    display: flex;
    max-width: 1300px;
    padding: 24px 30px;
    margin: auto;
}

.tinfo_title {
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
}

.tinfo_image {
    display: block;
    margin: auto;
    padding-right: 20px;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.tinfo_content {
    padding: 50px 0 50px 50px;
    border-radius: 20px;
}

.tinfo_input {
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
}


/* Quiz styles */
#questionContainer {
    max-width: 800px;
    margin: auto;
}

.counter_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

#counter_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--purple);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#mainQuestion {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: left;
}

.question_c {
    margin-bottom: 15px;
}

input:disabled[name^="question"] ~ .question_mc {
    background-color: hsl(256, 100%, 96%);
}

input:disabled[name^="question"] ~ .question_mc .question_mc-op {
    background-color: hsl(256, 100%, 70%);
}

.question_mc {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background-color: hsl(257, 100%, 93%);
    border-radius: 6px;
    transition: background-color 0.15s ease-in-out;
}

.selected ~ :is(.question_mc, .question_mc:hover) {
    cursor: pointer;
    background-color: var(--yellow);
    color: black;
}

.question_mc:hover {
    cursor: pointer;
    background-color: hsl(42.2, 100%, 75%);
}

.question_mc:hover .question_mc-op,
.selected + .question_mc .question_mc-op {
    cursor: pointer;
    background-color: hsl(42, 100%, 42%);
}

.question_mc-op {
    background-color: var(--purple);
    color: white;
    padding: 20px 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    border-radius: 6px 0 0 6px;
    transition: background-color 0.15s ease-in-out;
}

#next {
    display: block;
    margin-left: auto;
    font-size: 18px;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}


/* Dashboard styles */
.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 30px;
    margin: 100px auto 150px;
}

.dashboard_greet {
    margin-bottom: 30px;
    font-family: Inter;
    font-weight: 200;
    font-size: 64px;
}

.dashboard_content {
    display: flex;
    gap: 20px;
}

.dashboard_block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 15px 24px 0px hsla(248, 100%, 50%, 0.059);
    transition: transform 0.2s ease-in-out;
}

.dashboard_block:hover {
    transform: translateY(-12px);
}

.dashboard_block > h2:first-child {
    text-align: center;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 25px;
}

.dashboard_block.dark-bg {
    color: white;
}

.dashboard_accfield {
    width: 100%;
    margin-bottom: 20px;
}

.dashboard_accfield > h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard_accfield > p {
    margin-left: 15px;
}

.dashboard_accfield > p,
.dashboard_accfield > h3 {
    font-size: 16px;
}


/* Auth (login, register) */
.auth-login, .auth-signup {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.auth-signup {
    max-width: 500px;
}

.auth-login {
    max-width: 400px;
}

.auth_title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.auth_field {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

.auth_field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.auth_field input {
    width: 100%;
    padding: 15px 15px;
    border-radius: 8px;
    border: 0;
    font-size: 14px;
    background-color: hsl(256, 100%, 97.1%);
}

.auth_extra {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}

.primary-btn.auth_btn {
    width: 100%;
    box-shadow: none;
    padding: 15px 25px;
    font-size: 16px;
}

.auth_msg {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px 15px;
    background-color: hsl(335, 74%, 95%);
    border-radius: 8px;
}

.auth_msg > ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: auto;
}


/* My results section (only registered users) */
.myr {
    max-width: 1300px;
    margin: 100px auto 100px;
}

.myr_header-sec {
    margin-bottom: 50px;
    text-align: center;
}

.myr_main-title {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 20px;
}

.myr_block {
    display: flex;
    max-width: 650px;
    margin: 0 auto 15px;
    padding: 25px 35px;
    border-radius: 10px;
}

.myr_block:nth-child(1n) {
    background-color: var(--yellow);
}


.myr_block:nth-child(2n) {
    background-color: var(--pink);
}

.myr_block h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
}

.myr_block p:first-child {
    margin-bottom: 5px;
}

.myr_block-check {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}


/* Footer */
.m-fter {
    background-color: hsl(248, 33%, 17%);
    padding: 10px 0 75px;
    line-height: 1.3;
}

.m-fter_content {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    color: white;
    font-size: 14px;
}

.m-fter_content a {
    color: var(--pink);
}

.m-fter_info {
    width: 35%;
    max-width: 350px;
    margin-left: auto;
}

.m-fter_about {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.m-fter_contact {
    width: 35%;
}

.m-fter_contact div + div {
    margin-top: 24px;
}

.m-fter_logo {
    display: block;
    margin: 0 auto 15px;
}

.m-fter_title {
    font-size: 26px;
    margin-bottom: 10px;
}

.m-fter_link {
    margin-bottom: 5px;
}


/* Test result */
.results {
    display: flex;
    flex-grow: 1;
    gap: 10%;
    margin: 100px 0;
}

.res_help-col {
    width: 40%;
}

.res_score-col {
    width: 60%;
}

.res_help-block + .res_help-block {
    margin-top: 20px;
}

.res_help-block {
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(247, 100%, 96%);
}

.results :is(h1, h2) {
    font-family: Inter;
}

.res_title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.res_subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.res_help-sub {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
}


/* Buttons */
button, input[type="submit"] {
    cursor: pointer;
}

.primary-btn {
    padding: 20px 30px;
    font-weight: 700;
    background-color: var(--purple);
    color: white;
    box-shadow: 0px 8px 35px rgba(66, 0, 255, 0.2);
    border-radius: 50px;
    border: 0;
    text-transform: uppercase;
    transition-property: background-color,
        color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.primary-btn:hover {
    background-color: hsl(256, 100%, 65%);
}

.primary-btn:disabled {
    background-color: hsl(256, 100%, 75%);
    cursor: not-allowed;
}

.sec-btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid var(--dark);
    padding: 10px 30px;
    background-color: hsla(0, 0%, 0%, 0);
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.sec-btn:hover {
    border: 2px solid var(--dark);
    background-color: var(--dark);
    color: white;
}

.full-w-center {
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}


/* Utilities */
.content-width {
    max-width: 1300px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

.full-cg {
    display: flex;
    flex-grow: 1;
}

.full-viewp {
    display: flex;
    flex-direction: column;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.section-deco {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 120px;
}

.m-a {
    margin: auto;
}

.m-a-v {
    margin: auto 0;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.f-x {
    display: flex;
}

.txt-c {
    text-align: center;
}

.accent-purple {
    color: var(--purple);
}

.accent-pink {
    color: var(--pink);
}

.pink {
    color: var(--pink);
}

.purple {
    color: var(--purple);
}

.t-bold {
    font-weight: bold;
}

.t-small {
    font-size: 14px;
}

.t-semibold {
    font-weight: 500;
}

.yellow-bg {
    background-color: var(--yellow);
}

.pink-bg {
    background-color: var(--pink);
}

.dark-bg {
    background-color: var(--dark);
}

.grey-bg {
    background-color: var(--grey);
}


/* Special labels */
.warning {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: hsl(335, 74%, 95%);
}

.warning_icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    fill: hsl(18, 97%, 45%);
}

.warning_title {
    font-size: 16px;
    font-weight: bold;
}

.warning_content > p {
    margin-top: 5px;
    font-size: 14px;
}


@media only screen and (max-width: 1280px) {
    :root {
        --font-36: 32px;
    }

    .menu_nav {
        font-size: 14px;
    }

    /* Home styles */
    .main_title {
        font-size: 36px;
    }

    .main_subtitle {
        font-size: 14px;
    }

    .process,
    .quote_c {
        padding: 5em 0;
    }

    .quote_c {
        max-width: 500px;
    }

    .quote_text {
        font-size: 16px;
    }

    .quote_author {
        font-size: 18px;
    }

    .primary-btn {
        padding: 18px 25px;
        font-size: 14px;
    }


    /* Questions */
    #questionContainer {
        padding: 0 30px;
    }

    #mainQuestion {
        font-size: 24px;
    }

    .question_mc {
        font-size: 18px;
    }

    .question_mc-op {
        padding: 15px;
    }

    #next {
        font-size: 16px;
        padding: 16px 25px;
    }


    /* Dashboard */
    .dashboard {
        margin-top: unset;
    }

    .dashboard_content {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .dashboard_block {
        padding: 40px;
    }

    .dashboard_greet {
        font-size: 72px;
        margin-bottom: 30px;
    }


    /* My results page */
    .myr {
        margin: 0;
        padding: 0 30px;
    }

    /* Footer */
    .section-deco {
        height: 86px;
    }

    .m-fter_title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .steps {
        flex-direction: column;
        width: 50ch;
        margin: auto;
    }

    .steps_item:not(:last-child)::after {
        width: 5px;
        height: 20px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        top: inherit;
    }


    /* Test information section */
    .tinfo {
        flex-direction: column-reverse;
        margin: 0 auto 20px;
    }

    .tinfo_content {
        padding: 0;
        font-size: 14px;
    }

    .tinfo .col-50 {
        width: 100%;
    }


    /* Test results */
    .results {
        gap: 3%;
    }


    /* Sign up page */
    .auth-login, .auth-signup {
        margin: auto;
    }


    /* Dashboard */
    .dashboard_content {
        max-width: 350px;
        width: 100%;
    }

    .dashboard-greet {
        font-size: 56px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --font-36: 24px;
    }

    .m-header {
        margin-bottom: inherit;
    }

    .m-header_logo {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .m-header_logo > img {
        max-width: 100px;
    }

    #main {
        flex-direction: column;
    }

    #main .col-40 {
        width: 100%;
    }

    .content-width {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main_title {
        font-size: 28px;
    }

    .quote {
        padding: 0;
    }

    .quote_c {
        max-width: 100%;
        padding: 5em 10px;
    }

    .quote_text {
        font-size: 14px;
        line-height: 1.4;
    }

    .quote_author {
        font-size: 16px;
    }

    .process {
        padding: 4em 10px;
    }

    .steps {
        width: 100%;
    }

    .steps_item {
        padding: 25px;
    }

    .steps_item > h4 {
        font-size: 16px;
    }

    .steps_counter {
        padding: 16px;
        font-size: 14px;
    }

    .steps_icon {
        width: 56px;
        height: 56px;
    }

    .steps_title {
        font-size: 16px;
    }


    /* Test information section */
    .tinfo {
        padding: 0 10px;
    }

    .tinfo .col-50 {
        width: 100%;
    }


    /* Questions */
    #counter_number {
        margin-bottom: 20px;
        width: 34px;
        height: 34px;
        font-size: 16px;
    }

    #mainQuestion {
        margin-bottom: 20px;
        font-size: 20px;
    }

    #questionContainer {
        padding: 0 10px;
    }

    .counter_title {
        font-size: 16px;
    }

    .question_mc-op {
        padding: 15px;
    }

    .question_mc {
        font-size: 16px;
    }

    #next {
        padding: 15px 25px;
    }


    /* Sign up page */
    .auth-signup {
        padding: 5px 30px;
    }

    .auth_title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .auth_field {
        margin-bottom: 14px;
    }


    /* Dashboard */
    .dashboard {
        padding: 0 15px;
    }

    .dashboard_content {
        gap: 15px;
    }

    .dashboard_greet {
        font-size: 46px;
        margin-bottom: 20px;
    }

    .dashboard_block {
        padding: 30px;
    }


    /* My results page */
    .myr {
        padding: 0 10px;
    }

    .myr_header-sec {
        margin-bottom: 25px;
    }

    .myr_main-title {
        font-size: 28px;
    }

    .myr_header-sec p {
        font-size: 14px;
    }

    .myr_block {
        padding: 20px;
        margin: 0 auto 10px;
    }

    .myr_block h2 {
        font-size: 16px;
        line-height: 1.2;
    }

    .sec-btn {
        margin-left: 10px;
        font-size: 14px;
    }


    /* Test results */
    .results {
        flex-direction: column;
        gap: 30px;
        margin: 10px 0 50px;
    }

    .res_title {
        font-size: 24px;
    }

    .res_help-block {
        padding: 25px;
    }

    .res_help-sub,
    .res_subtitle {
        font-size: 18px;
    }

    .res_score-col {
        width: 100%;
    }

    .res_help-col {
        width: 100%;
    }


    /* Footer */
    .section-deco {
        height: 50px;
    }

    .m-fter_content {
        flex-direction: column;
    }

    .m-fter_info,
    .m-fter_about,
    .m-fter_contact {
        width: 100%;
    }

    .f-content > div:first-child {
        margin-top: 20px;
    }

    .m-fter_about,
    .m-fter_contact {
        margin-top: 36px;
    }

    .m-fter_title {
        font-size: 16px;
    }
}