@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --font-dark: hsl(0, 0%, 12%);
    --dark: hsl(0, 0%, 12%);
    --yellow: hsl(42, 100%, 50%);
    --pink: hsl(323, 90%, 58%);
    --purple: hsl(256, 100%, 50%);
}

/* General styles */
html, body {
    height: 100%;
}

body, input, button {
    font-family: Inter, sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    display: inline-block;
}

header {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 36px;
    font-weight: 700;

    /* text-align: center; */
    margin-bottom: 10px;
}

p + p {
    margin-top: 10px;
}

input {
    accent-color: var(--purple);
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

hr {
    border: 1px solid hsl(212, 48%, 94%);
    margin-bottom: 20px;
}

/* Header styles */
.main-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 40px;
    list-style: none;
}

.main-nav > li > a {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-dark);
}

/* Main information section */
#main {
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.main_title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.main_title::before {
    content: attr(data-alt-title);
    position: absolute;
    z-index: -1;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    color: rgba(112, 0, 255, 0.15);
    left: 0%;
    right: 0%;
    top: -0.6em;
}

.main_subtitle {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 1.2;
}

/* Quote section */
.quote {
    background-color: hsl(248, 34%, 17%);
    color: white;
}

.quote_c {
    max-width: 700px;
    margin: auto;
    position: relative;
    padding: 6em 0;
}

.quote_title {
    text-align: center;
    margin-bottom: 20px;
}

.quote_text {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.3;
}

.quote_author {
    font-size: 20px;
    font-weight: bold;
    color: var(--yellow);
}

.quote_icon-c {
    position: absolute;
    top: 50%;
    right: -80px;
}

.quote_icon-c::before {
    content: "";
    width: 110px;
    height: 110px;
    background-color: hsla(323, 90%, 58%, 0.22);
    position: absolute;
    transform: translateY(-50%) scale(1.5);
    border-radius: 100%;
    animation: circle-grow 10s infinite ease-in-out;
}

@keyframes circle-grow {
    0% {
        transform: translateY(-50%) scale(1.0);
    }

    10% {
        background-color: hsla(323, 90%, 58%, 0.22);
    }

    25%, 100% {
        transform: translateY(-50%) scale(1.5);
        background-color: hsla(323, 90%, 58%, 0);
    }
}

.quote_icon-c::after {
    content: "";
    width: 110px;
    height: 110px;
    background-color: var(--pink);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 100%;
}

.quote_icon {
    position: absolute;
    z-index: 1;
    transform: translateY(-50%) rotate(180deg);
    fill: white;
    left: 25px;
    animation: icon-spin 120s infinite ease-in-out;
}

@keyframes icon-spin {
    0% {
        transform: translateY(-50%) rotate(180deg);
    }

    0.42% {
        transform: translateY(-50%) rotate(165deg);
    }

    0.84% {
        transform: translateY(-50%) rotate(195deg);
    }

    1.67%, 100% {
        transform: translateY(-50%) rotate(-180deg);
    }
}

/* Process section */
.process {
    padding: 6em 0;
    background-color: hsl(210, 60%, 98%);
}

.process_subtitle {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3em;
}

.steps {
    display: flex;
    gap: 20px;
    position: relative;
}

.steps_item {
    position: relative;
    padding: 40px;
    background-color: white;
    border-radius: 7px;
}

.steps_item:not(:last-child)::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: var(--pink);
    position: absolute;
    top: 50%;
    right: -20px;
}

.steps_item > h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.steps_icon {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 72px;
    height: 72px;
    fill: var(--yellow);
}

.steps_counter {
    content: "";
    background-color: var(--pink);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100%;
    width: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    left: -15px;
    height: 30px;
    padding: 21px;
}


/* INFORMATION PAGE */

/* Information section */
.tinfo {
    display: flex;
    max-width: 1300px;
    margin: auto;
}

.tinfo_title {
    text-align: center;
    margin-bottom: 10px;
}

.tinfo_image {
    display: block;
    margin: auto;
    padding-right: 20px;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.tinfo_content {
    padding: 50px;
    border-radius: 20px;
}

.tinfo_input {
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
}


/* Quiz styles */
#questionContainer {
    max-width: 900px;
    margin: auto;
}

.counter_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

#counter_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--purple);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#mainQuestion {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: left;
}

.question_c {
    margin-bottom: 15px;
}

.question_mc {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    transition: background-color 0.15s ease-in-out;
}

.question_mc:hover,
.selected ~ .question_mc {
    cursor: pointer;
    background-color: var(--yellow);
    color: black;
}

.question_mc:hover .question_mc-op,
.selected + .question_mc .question_mc-op {
    background-color: hsl(42, 100%, 42%);
}

.question_mc-op {
    background-color: var(--purple);
    color: white;
    padding: 20px 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

#next {
    display: block;
    margin-left: auto;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}


/* Dashboard styles */
.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
}

.dashboard_greet {
    margin-bottom: 30px;
    font-family: Inter;
    font-weight: 200;
    font-size: 80px;
}

.dashboard_content {
    display: flex;
    gap: 20px;
}

.dashboard_block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 15px 24px 0px hsla(248, 100%, 50%, 0.059);
    transition: transform 0.2s ease-in-out;
}

.dashboard_block:hover {
    transform: translateY(-12px);
}

.dashboard_block > h2:first-child {
    text-align: center;
    line-height: 1;
    margin-bottom: 25px;
}

.dashboard_block.yellow {
    background-color: var(--yellow);
}

.dashboard_block.dark {
    background-color: var(--dark);
    color: white;
}

.dashboard_block.pink {
    background-color: var(--pink);
}

.dashboard_accfield {
    width: 100%;
    margin-bottom: 20px;
}

.dashboard_accfield > h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard_accfield > p {
    margin-left: 15px;
}

.dashboard_accfield > p,
.dashboard_accfield > h3 {
    font-size: 20px;
}


/* Auth (login, register) */
.auth-login, .auth-signup {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.auth-signup {
    max-width: 500px;
}

.auth-login {
    max-width: 400px;
}

.auth_title h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.auth_field {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

.auth_field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.auth_field input {
    width: 100%;
    padding: 15px 15px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    background-color: hsl(256, 100%, 97.1%);
}

.auth_extra {
    text-align: center;
    margin: 20px 0;
}

.primary-btn.auth_btn {
    width: 100%;
    box-shadow: none;
    padding: 15px 25px;
    font-size: 16px;
}

.auth_msg {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px 15px;
    background-color: hsl(335, 74%, 95%);
    border-radius: 8px;
}

.auth_msg > ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: auto;
}


/* My results section (only registered users) */
.myr {
    max-width: 1300px;
    margin: 100px auto 0;
}

.myr_header-sec {
    margin-bottom: 50px;
    text-align: center;
}

.myr_main-title {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 20px;
}

.myr_block {
    display: flex;
    max-width: 650px;
    margin: 0 auto 15px;
    padding: 25px 35px;
    border-radius: 10px;
}

.myr_block:nth-child(1n) {
    background-color: var(--yellow);
}


.myr_block:nth-child(2n) {
    background-color: var(--pink);
}

/* .myr_block:nth-child(3n-1) {
    background-color: var(--pink);
} */

/*
.myr_block:nth-child(3n+0) {
    background-color: var(--purple);
} */

.myr_block h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.myr_block p {
    font-size: 16px;
}

.myr_block-date {
    margin: auto;
    padding: 0 10px;
}

.myr_block-check {
    margin-top: auto;
    margin-bottom: auto;
}


/* Buttons */
button, input[type="submit"] {
    cursor: pointer;
}

.primary-btn {
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--purple);
    color: white;
    box-shadow: 0px 8px 35px rgba(66, 0, 255, 0.3);
    border-radius: 50px;
    border: 0;
    text-transform: uppercase;
}

.primary-btn:disabled {
    background-color: hsl(256, 100%, 75%);
    cursor: not-allowed;
}

.sec-btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid var(--dark);
    padding: 10px 30px;
    background-color: hsla(0, 0%, 0%, 0);
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.sec-btn:hover {
    border: 2px solid var(--dark);
    background-color: var(--dark);
    color: white;
}

.full-w-center {
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}


/* Utilities */
.content-width {
    max-width: 1300px;
    margin: auto;
}

.full-cg {
    display: flex;
    flex-grow: 1;
}

.full-viewp {
    display: flex;
    flex-direction: column;
}

.m-a {
    margin: auto;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.f-x {
    display: flex;
}

.txt-c {
    text-align: center;
}

.accent-purple {
    color: var(--purple);
}

.accent-pink {
    color: var(--pink);
}

.pink {
    color: var(--pink);
}

.t-bold {
    font-weight: bold;
}

.t-semibold {
    font-weight: 500;
}


/* Special labels */
.warning {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: hsl(335, 74%, 95%);
}

.warning_icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    fill: hsl(18, 97%, 45%);
}

.warning_title {
    font-size: 16px;
    font-weight: bold;
}

.warning_content > p {
    margin-top: 5px;
    font-size: 14px;
}