{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
<div class="auth_msg success">
    <ul>
        {% for message in success %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% with error = get_flashed_messages(category_filter=["error"]) %}
{% if error %}
<div class="auth_msg error">
    <ul>
        {% for message in error %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}