{% extends "layout/base.html" %}

{% block title %}Test Information{% endblock %}

{% block body %}
<body class="full-viewp">
{% include "layout/header.html" %}
    <main class="full-cg">
        <section class="tinfo">
            <div class="col-50 m-a">
                <img src="{{ url_for('static', filename='images/letsgo-02.png') }}" class="img-responsive" alt="">
            </div>
            <div class="col-50 tinfo_content">
                <h1 class="tinfo_title">LET’S <span class="accent-pink">DO IT!</span></h1>
                <hr>
                <p>
                    The following test consists of 25 questions, which have to be answered as honest as possible in order to guarantee
                    better results, we ask you to answer the questions in base on how have you been feeling <strong>during the past 2 weeks?</strong>
                </p>
                <p>
                    If you are a registered user you will have some benefits such as a special graph with other results that can be very
                    useful for you, aside from that, your results become private and you can check them anytime you want from 'My results'
                    page located in your dashboard.
                </p>

                <div class="warning">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" class="warning_icon">
                        <path
                            d="M12 1l-12 22h24l-12-22zm-1 8h2v7h-2v-7zm1 11.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" />
                    </svg>
                    <div class="warning_content">
                        <h2 class="warning_title">Please, bear in mind...</h2>
                        <p>Even when the results indicate that you can have an anxiety disorder it's important for you to seek professional help to have a proper diagnosis and the right treatment.</p>
                    </div>
                </div>
                <a href="{{ url_for('anxietyTest') }}" class="primary-btn full-w-center">START</a>
            </div>
        </section>
    </main>
    {% include "layout/footer.html" %}
</body>
{% endblock %}