<div class="counter">
    <p class="counter_title">
        QUESTION
    </p>
    <div id="counter_number" data-total="{{ data['totalQuestions'] }}">
        {{ questionNumber }}
    </div>
</div>
<div class="question">
    <h1 id="mainQuestion">
        {{ data['question'] }}
    </h1>

    {% for key, value in data['answers'].items() %}
    <div class="question_c">
        <input type="radio" name="question{{ questionNumber }}" id="q{{ loop.index }}" value="{{ data['values'][key] }}" disabled="true" autocomplete="off">
        <label for="q{{ loop.index }}" class="question_mc">
            <span class="question_mc-op">{{ loop.index|getLetter }}</span>
            {{ value }}
        </label>
    </div>
    {% endfor %}

    <button type="button" id="next" class="primary-btn" disabled="true" autocomplete="off">Next</button>
</div>