{% import "macros/m_form.html" as m %}
{% extends "layout/base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<body class="full-viewp">
    {% include "layout/header.html" %}
    <section class="auth-login">
        <div>
            <h1 class="auth_title">Log in</h1>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="auth_msg">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ request.path }}">
            {{ form.csrf_token }}
            <div class="auth_field">
                {{ m.render_field(form.username) }}
            </div>
            <div class="auth_field">
                {{ m.render_field(form.password) }}
            </div>
            <input type="submit" class="primary-btn auth_btn" value="Log in">
        </form>
        <div class="auth_extra">
            New here?
            <a href="{{ url_for('signup') }}" class="pink">Sign up</a>
        </div>
    </section>
</body>
{% endblock %}