    <header class="m-header content-width">
        <div class="m-header_logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imgs/placeholder-logo.png') }}" width="150px">
            </a>
        </div>
        <nav>
            <ul class="menu_nav">
                <li><a class="menu_anchor" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="menu_anchor" href="{{ url_for('info') }}">Anxiety test</a></li>
                <li><a class="menu_anchor" href="{{ url_for('info') }}">About</a></li>
            </ul>
        </nav>
        <div class="m-header_auth">
            {% if current_user.is_authenticated %}
                <a class="menu_anchor" href="{{ url_for('dashboard') }}">My account</a>
                <a class="menu_anchor" href="{{ url_for('logout') }}">Log out</a>
            {% else %}
                <a class="menu_anchor" href="{{ url_for('signup') }}">Sign up</a>
                <a class="menu_anchor" href="{{ url_for('login') }}">Log in</a>
            {% endif %}
        </div>
        <div class="menu_icon">
            <svg id="hamburgerMenu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
            </svg>
        </div>
    </header>
    <div>
        <div id="darkOverlay"></div>
        <div id="sidebar" class="resp_menu">
            <div>
                <a href="{{ url_for('index') }}" class="sidebar_logo">
                    <img src="{{ url_for('static', filename='imgs/placeholder-logo.png') }}" width="150px">
                </a>
            </div>
            <nav class="sidebar_nav">
                <a class="sidebar_anchor" href="{{ url_for('index') }}">Home</a>
                <a class="sidebar_anchor" href="{{ url_for('info') }}">Anxiety Test</a>
                <a class="sidebar_anchor" href="{{ url_for('info') }}">About</a>
                {% if current_user.is_authenticated %}
                <a class="sidebar_anchor" href="{{ url_for('dashboard') }}">My account</a>
                <a class="sidebar_anchor" href="{{ url_for('logout') }}">Log out</a>
                {% else %}
                <a class="sidebar_anchor" href="{{ url_for('signup') }}">Sign up</a>
                <a class="sidebar_anchor" href="{{ url_for('login') }}">Log in</a>
                {% endif %}
            </nav>
            <p>To close the menu touch anywhere outside of it.</p>
        </div>
    </div>