{% import "macros/m_form.html" as m %}
{% extends "layout/base.html" %}
{% block title %}Change password{% endblock %}
{% block body %}
<body class="full-viewp">
    {% include "layout/header.html" %}
    <section class="auth-login">
        <div>
            <h1 class="auth_title">Update password</h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="auth_msg">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <form method="post" action="{{ request.path }}">
            {{ form.csrf_token }}
            <div class="auth_field">
                {{ m.render_field(form.password) }}
            </div>
            <div class="auth_field">
                {{ m.render_field(form.newPassword) }}
            </div>
            <div class="auth_field">
                {{ m.render_field(form.confirmPassword) }}
            </div>
            <input type="submit" class="primary-btn auth_btn" value="Change it">
        </form>
    </section>
</body>{% endblock %}